@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--light-color);
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 7px;
}

ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 1rem;
  transition: all 0.2s ease;
}
li:hover {
  transform: rotate(5deg);
}

/* Utilities */
.container {
  margin: auto;
  padding: 0 2rem 3rem 2rem;
}

/* Text Styles*/

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 7px;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/*Navbar*/

.nav {
  display: flex;
  padding: 1rem 4rem;
  align-items: center;
  opacity: 0.9;
}
.logo {
  margin-right: 2rem;
  font-size: 2rem;
}
.logo a {
  border: none;
}

/*Employees main*/

.employees {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.emp-abc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  font-weight: 700;
}
.emp-birthday {
  text-align: center;
}
.emp-item {
  display: flex;
  flex-direction: column;
  border: 1px solid dotted;
  background: var(--primary-color);
  padding: 0.7rem;
  border-radius: 7px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.emp-item:hover {
  box-shadow: none;
}
.birthday-block {
  text-align: left;
}
.emp-birthday-item {
  border: 1px solid #333;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 7px;
}
.bigbox {
  margin-bottom: 0.5rem;
  align-items: center;
  display: flex;
}
.bigbox label {
  cursor: pointer;
  margin-right: 0.5rem;
}
.bigbox label:hover {
  opacity: 0.9;
}
.bigbox input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.bigbox input:checked {
  width: 20px;
  height: 20px;
}
.bigbox input:checked {
  background-color: var(--primary-color);
}

@media (max-width: 900px) {
  .emp-abc {
    grid-template-columns: repeat(2, 1fr);
  }
  h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .emp-abc {
    grid-template-columns: 1fr;
  }
  h2 {
    line-height: 1.1;
  }
}
